<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BostonDogTOR.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>287991435A5A9FCC9636754A53C00993F1D100B5</string>
				<key>dateExpires</key>
				<string>3/14/25</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>TUPUVKZ22A.ephemeral.distribution.BostonDogTOR</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>TUPUVKZ22A</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>BostonDogTOR.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>e2b2e47b-ac38-49c6-8bb3-bc0f67c3ce07</string>
				<key>dateExpires</key>
				<string>3/14/25</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: ephemeral.distribution.BostonDogTOR</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>TUPUVKZ22A</string>
				<key>name</key>
				<string>Tauseef Pirzada</string>
			</dict>
			<key>versionNumber</key>
			<string>24.2</string>
		</dict>
	</array>
</dict>
</plist>
