body{
    background-color: #333333;
}
img {
    
    border-radius: 25%;
    width: 50%;
  }

  .container{
    display: flex;
    align-items: center; 
    justify-content: center; 
    text-align: center;
  }