/* Container for the listbox and navigation box */
body {
    position: relative;
    min-height: 450px;
    height: 100vh;
    margin: 0;
    background: radial-gradient(ellipse farthest-corner at center top, #a93f55 0%, #19323c 100%);
    color: rgb(219, 216, 216);
    font-family: "Nunito", sans-serif;
    overflow: hidden;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/bg.jpg');
    /* Add your transparent image */
    background-repeat: no-repeat;
    /* Prevent the image from repeating */
    background-position: center;
    /* Center the image */
    background-size: cover;
    /* Cover the entire container */
    opacity: 0.025;
    /* Set the opacity of the image */
    z-index: -1;
    /* Ensure the image is behind any other content */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Navigation box above the listbox */
.nav-box {
    width: 100%;
    max-width: 430px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    gap: 30px;
}

/* Listbox */
.listbox {
    width: 100%;
    width: 400px;
    height: 600px;
    overflow-y: auto;
    border: 1px solid #ffffff;
    padding: 10px;
    box-sizing: border-box;

}

/* List items */
.listbox-item {
    padding: 1px;
    border-bottom: 1px solid #eee;
        /* Adjust this value as needed */
}

.nav-box .selected {
    color: #264653;
}

.nav-box .unselected {
    transition: color 0.3s ease;
    color: #ffffff;
}

.nav-box .special-check {
    cursor: pointer;
    transition: color 0.3s ease;
    color: #63E7BE;
}

.nav-box .special-check:hover {
    color: #264653;
}

.nav-box .unselected:hover {
    color: #264653;
}
.nav-box .untoggled {
    transition: color 0.3s ease;
    color: #ce4257;
}

.nav-box .untoggled:hover {
    transition: color 0.3s ease;
    color: #264653;
}